body {
    background-color: lightcyan;
}


.container {
   text-align: center;
}

.formpart {
    gap:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.btn {
    background-color: rgb(46, 125, 50);
    border: none;
    color: white;
    padding: 7px;
    border-radius: 4px;
}
